 <!-- DO NOT TOUCH, CHANGE, MODIFY AS OF MARCH 15, 2023 -->
 <!-- for..of (entry of outreachArray) -->
<!-- pull from the controller -->
<section class="content-container electric-blue">
<% for (outreach of outreachArray) { %>
    <!-- removed <a href="/admin/outreach-log/<%# outreach._id %>"> -->

        <span class="content-container-2 side-scroll-mobile blue-munsell">
            <h3 class="content-container-2 naples-yellow title-tinker">Client: <%= outreach.firstName %> <%= outreach.lastName %> </h3>
            
            <span class="mini-container gold-crayola ">
                <p><strong>Email: <%= outreach.email %></strong></p>
                <p><strong>Contact Number: <%= outreach.phoneNumber %></strong></p>
                <p><strong>Reason: <%= outreach.reason %></strong></p>
                <hr>
                <p><strong></strong></p>
            </span>
            <!-- temporarily disabled buttons until functional 3/26, see here for highlighted code to copy https://docs.google.com/document/d/1OEsh2MZt2sd5BWJGMVbInp-zasRUxp2KtO6ZCha-Qv4/edit?usp=sharing -->
            <section class="content-container-3 hot-pink">
                <!-- delete functionality operational -->
                    <form action="/logs/<%= outreach._id %>?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded" class="inline">
                        <!-- if instead of form action -> a href will have the confirmation of the data you want to delete -->
                        <div class="center-button">    
                            <input value="Delete Me?!" id="delete-button bye-bye" class="delete-button" type="submit" onclick="confirmDeleteData()" />
                        </div>
                    </form>   
            
            </section>
        </span>
    <!-- </a> -->
<% } %>
</section>

