 <!-- DO NOT TOUCH, CHANGE, MODIFY AS OF MARCH 15, 2023 -->
 <!-- for..of (entry of outreachArray) -->
<!-- pull from the controller -->
<section class="content-container electric-blue">
<% for (outreach of outreachArray) { %>
    <a href="/admin/outreach-log/<%= outreach._id %>">
        <span class="content-container-2 side-scroll-mobile blue-munsell">
            <h3 class="content-container-2 naples-yellow title-tinker">Client: <%= outreach.firstName %> <%= outreach.lastName %> </h3>
            
            <span class="mini-container gold-crayola ">
                <p><strong>Email: <%= outreach.email %></strong></p>
                <p><strong>Contact Number: <%= outreach.phoneNumber %></strong></p>
                <p><strong>Reason: <%= outreach.reason %></strong></p>
                <!-- temporarily disabled buttons until functional 3/26, see here for highlighted code to copy https://docs.google.com/document/d/1OEsh2MZt2sd5BWJGMVbInp-zasRUxp2KtO6ZCha-Qv4/edit?usp=sharing -->
               
                <hr>
            </span>
        </span>
    </a>
<% } %>
</section>