<div class="content-container-3">
    <span class="content-container-2">
        <h3>Client: <%= outreach.firstName %> <%= outreach.lastName %> </h3>
        <span>
            <h4>Entry</h4>
            <p><strong>Field: <%= outreach.email %></strong></p>
            <p><strong>Field: <%= outreach.phoneNumber %></strong></p>
            <p><strong>Field: <%= outreach.reason %></strong></p>
        </span>
    </span>
    <span class="content-container-2">
        <h3>Client: <%= outreach.firstName %> <%= outreach.lastName %> </h3>
        <span>
            <h4>Entry</h4>
            <p><strong>Field: <%= outreach.email %></strong></p>
            <p><strong>Field: <%= outreach.phoneNumber %></strong></p>
            <p><strong>Field: <%= outreach.reason %></strong></p>
        </span>
    </span>
    <span class="content-container-2">
        <h3>Client: <%= outreach.firstName %> <%= outreach.lastName %> </h3>
        <span>
            <h4>Entry</h4>
            <p><strong>Field: <%= outreach.email %></strong></p>
            <p><strong>Field: <%= outreach.phoneNumber %></strong></p>
            <p><strong>Field: <%= outreach.reason %></strong></p>
        </span>
    </span>
</div>