<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
<title>Admin- Client Management</title>
<%- include('../partials/admin-nav.ejs') -%> 
<!-- Insert admin-nav.ejs -->
<div class="content-container link-styling">
    <section class="content-container-2 naples-yellow">
        <h1>Admin- Client Management</h1>
    </section>
    <h2 class = "mini-container cosmic-latte">LOG ENTRY</h2>
   
    <!-- insert outreach-loop.ejs FOR TESTING -->
    <%- include('../partials/outreach-loop.ejs') -%> 

    <!-- include admin buttons -->
    <%- include('../partials/admin-buttons.ejs') -%> 

</div>

<!-- Insert admin-footer.ejs -->
<%- include('../partials/admin-footer.ejs') -%> 