<%- include('../partials/head') -%> 
    <title>FAQ Page</title>
<%- include('../partials/nav') -%> 

<div class="content-container link-styling">
    <section class="content-container-2 inverse-yellow">
        <h1>FAQ Page</h1>
        <br>
    </section>
    
    <%- include('../partials/question-code.ejs') %>
    <%- include('../partials/Q1.ejs') %>
    <%- include('../partials/Q2.ejs') %>
    <%- include('../partials/Q3.ejs') %>
    <%- include('../partials/Q4.ejs') %>
</div>
<%- include('../partials/footer') -%> 