<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
<!-- v.2: USE setTimer.ejs partial to render a welcome message after 6 seconds of loading -->
    <title>Index Page</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container link-styling ">
    <section class="content-container-2 naples-yellow">
        <h1>Index Page</h1>
        <br>
    </section>
    <section class="content-container-2 cosmic-latte">
        <p class="mini-expansion">Note that you can click Cookie, the Cat-Turtle Mascot, on top of any page to return to the index (aka the landing page of the app). </p>
    </section>
    <!-- DO NOT MODIFY ABOVE THIS POINT -->
    
    <section class="content-container-2 orchid-crayola bold link-styling">   
        <p class="mini-expansion">Carol, the former owner of the Bookstore is retiring, so check out changes soon. Students will learn how to manage the bookstore after training --> <a href="https://kit-class-bookstore.cyclic.app/">Check Out Our Book Collection that A.P. Students are reading throughout the program!</a> </p>
        
    </section>

     <!-- NEW/V.2 Section about class interest and sign ups -->
     <section class="content-container-2 light-steel-blue">
        <div class="content-container-3 vivid-sky-blue">
        <a href="./class-interest">
        <p>Class Interest for A.P. Cohort January 2024 - Fundamentals of Transformative Justice</p></a> 
        </div>
        <img src="/img/cafe.jpg" class="photo-image-center" alt="a person is writing in their notebook and reading from another book, with a phone nearby as a timer and a cup of coffee.">
        <div class="content-container-3 cosmic-latte">
        <p>Registration is now OPEN!! The closing date is December 1st! :]</p>
        </div>
   </section>
     <!-- disabled until November -->
    
    <%- include('../partials/orange-project-site-dev') -%> 
    
    <%- include('../partials/yellow-cohort-pics-map') -%> 

    <%#   include('../partials/minty-mentors') #%>

    <%- include('../partials/emerald-connect') -%>
   
    <!-- add more sections/features above this line -->
    <!-- DO NOT MODIFY PAST THIS POINT -->

</div>
<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 

