<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
<title>Admin- Outreach Log</title>
<%- include('../partials/admin-nav.ejs') -%> 
<!-- Insert admin-nav.ejs -->
<<<<<<< HEAD
<section class="content-container">
    <h1>Entries from the Outreach Form</h1>

    <!-- start for..of loop -->
    <% for (user of foundUser) { %>
    <div class="content-container-2">
        <h2>Clients</h2>

        <div class="content-container-3"> <!-- where the data renders -->
           <span>
            <a href="/outreach-log/<%= user._id%>">
                <h3><%= user.firstName %> <%= user.lastName %></h3> <!-- for the client name -->
                    <p><%= user.email %></p>
                    <p><%= user.phoneNumber %></p>
                    <p><%= user.reason %></p>
            </a>
           </span>
            
            <input type="submit" value="Submit" class="yellow-button link-styling"><a href=".<%user._id%>/edit" role="button">Edit the Client</a></input>
            <form action="./edit/<%=user._id%>?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded" class="inline">
                <input type="submit" value="Submit" class="yellow-button link-styling">Delete the Client</input>
            </form> <!-- delete the entry -->
        </div>
    </div>
    <% } %>
    <!-- end of for..of loop -->

</section>

=======
<div class="content-container link-styling">
    <section class="content-container-section">
        <h1>Admin- Outreach Log</h1>
    </section>
    <section class="content-container-2 vivid-sky-blue">
        <h2 class = "mini-container cosmic-latte">LOG ENTRY</h2>
        <!-- for..of (entry of outreachArray) -->
        <!-- pull from the controller -->
        <div class="content-container-3">
        <% for (outreach of outreachArray) { %>
            <a href="/outreach-log/<%= outreach._id %>" class="content-container-3 card gold-crayola">
                <span class="content-container-2">
                    <h3>Client: <%= outreach.firstName %> <%= outreach.lastName %> </h3>
                    <span>
                        <h4>Entry</h4>
                        <p><strong>Field: <%= outreach.email %></strong></p>
                        <p><strong>Field: <%= outreach.phoneNumber %></strong></p>
                        <p><strong>Field: <%= outreach.reason %></strong></p>
                    </span>
                    <a href="./<%= outreach._id %>/update-form" class="yellow-button">edit</a> 
                    <form action="/outreach-log/<%= outreach._id %>?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded" class="inline">
                        <button class="center-button hot-pink" type="submit">delete</button>
                    </form>   
                </span>
            </a>
        <% } %>
        </div>
    </section>
</div>
>>>>>>> version-2

<!-- Insert admin-footer.ejs -->
<%- include('../partials/admin-footer.ejs') -%> 