<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
<title>Read A Log</title>
<%- include('../partials/admin-nav.ejs') -%> 
<!-- Insert admin-nav.ejs -->

<div class="content-container">
    <section class="content-container-section">
        <h1>Read A Log</h1>
    </section>
    <section class="content-container-2 naples-yellow"> 
        <% for (entry of createlogArray)  { %>
            <div class="content-container-3 card mint">
                <span>
                    <p>
                        Create Log Entry
                        <a href="/readlog/<%= entry._id %>">
                            <p><%= entry.firstAndLastNameCreate %></p>
                            <p><%= entry.emailCreate %></p>
                            <p><%= entry.phoneCreate %></p>
                            <p><%= entry.synopsisCreate %></p>
                        </a>
                    </p>
                    <form action="/readlog/<%= entry._id %>?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded" class="inline">
                        <button class="yellow-button center-button link-styling" type="submit">Delete Log</button>
                    </form> 
                </span>
            </div>
        <% } %>    
    </section>
    <section class="content-container-2 naples-yellow">
        <!-- Insert the beginning of for of loop -->
        <div class="content-container-3 card light-steel-blue">
            <span>
                <p>
                    Update Log Entry
                    <!-- psuedocode for loop -->
                </p>
                <!-- form action code for delete -->
            </span>
        </div>
        <!-- end of for of loop -->
    </section> 
    <section class="content-container-2 naples-yellow">
        <!-- Insert the beginning of for of loop -->
        <% for (removedEntry of removelogArray)  { %>
        <div class="content-container-3 card hot-pink">
            <span>
                <p>
                    <h2>Delete Log Entry</h2>
                    <!-- psuedocode for loop -->
                    <a href="/readlog/<%= removedEntry._id %>">
                        <p><%= removedEntry.firstAndLastNameRemove %></p>
                        <p><%= removedEntry.emailRemove %></p>
                        <p><%= removedEntry.phoneRemove %></p>
                        <p><%= removedEntry.synopsisRemove %></p>
                        <p><%= removedEntry.studentRemoveRecord %></p>
                    </a>
                </p>
                <!-- form action code for delete -->
            </span>
        </div>
        <!-- end of for of loop -->
        <% } %>   
    </section> 
    <section class="content-container-2 naples-yellow">
        <!-- Insert the beginning of for of loop -->
        <div class="content-container-3 card cosmic-latte">
            <span>
                <p>
                    Footer Form Entry
                    <!-- psuedocode for loop -->
                </p>
                <!-- form action code for delete -->
            </span>
        </div>
        <!-- end of for of loop -->
    </section> 
</div>


<!-- Insert admin-footer.ejs -->
<%- include('../partials/admin-footer.ejs') -%> 