<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
<title>Read A Log</title>
<%- include('../partials/admin-nav.ejs') -%> 
<!-- Insert admin-nav.ejs -->

<div class="content-container">
    <section class="content-container-section">
        <h1>Read A Log</h1>
    </section>
    <section class="content-container-2 naples-yellow"> 
        <% for (entry of createlogArray)  { %>
            <div class="content-container-3 card gold-crayola">
                <span>
                    <p>
                        EJS loop
                        <a href="/readlog/<%= entry._id %>">
                            <p><%= entry.firstAndLastName %></p>
                            <p><%= entry.Email %></p>
                            <p><%= entry.Phone %></p>
                            <p><%= entry.Synopsis %></p>
                            <form action="/readlog/<%= entry._id %>?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded" class="inline">
                                <button class="yellow-button center-button link-styling" type="submit">Delete Log</button>
                            </form>  
                        </a>
                         
                    </p>
                </span>
            </div>
        <% } %>    
    </section>
</div>


<!-- Insert admin-footer.ejs -->
<%- include('../partials/admin-footer.ejs') -%> 