<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
<title>Read A Log</title>
<%- include('../partials/admin-nav.ejs') -%> 
<!-- Insert admin-nav.ejs -->

<div class="content-container">
    <section class="content-container-section">
        <h1>Read A Log</h1>
    </section>
    <!-- Create Log For Loop in documentation/maintenance -->
    <section class="content-container-2 naples-yellow">
        <div class="content-container-3 card mint">
            <span class="link-styling">
                <p>
                    Create Log Entry
                </p>
            </span>
        </div>
    </section>
    
    <section class="content-container-2 naples-yellow">
        <div class="content-container-3 card light-steel-blue">
            <span class="link-styling">
                <p>
                    Update Log Entry
                </p>
            </span>
        </div>
    </section>
    <section class="content-container-2 naples-yellow">
        <!-- Insert the beginning of for of loop -->
        <% for (entry of updatelogArray)  { %>
        <div class="content-container-3 card light-steel-blue">
            <span class="link-styling">
                <p>
                    Update Log Entry
                    <!-- psuedocode for loop -->
                    <a href="/readlog/<%= entry._id %>">
                        <p><%= entry.firstAndLastNameUpdate %></p>
                        <p><%= entry.emailUpdate %></p>
                        <p><%= entry.phoneUpdate %></p>
                        <p><%= entry.synopsisUpdate %></p>
                        <p><%= entry.studentUpdateRecord %></p>
                    </a>
                </p>
                <!-- form action code for delete -->
            </span>
        </div>
        <!-- end of for of loop -->
        <% } %>
    </section>
    <section class="content-container-2 naples-yellow">
        <div class="content-container-3 card hot-pink">
            <span class = "link-styling">
                <p>
                    Delete Log Entry
                </p>
            </span>
        </div>
    </section>
    <section class="content-container-2 naples-yellow">
        <!-- Insert the beginning of for of loop -->
        <% for (entry of removelogArray)  { %>
        <div class="content-container-3 card hot-pink">
            <span>
                <p>
                    Delete Log Entry
                    <!-- psuedocode for loop -->
                    <a href="/readlog/<%= entry._id %>">
                        <p><%= entry.firstAndLastNameRemove %></p>
                            <p><%= entry.emailRemove %></p>
                            <p><%= entry.phoneRemove %></p>
                            <p><%= entry.synopsisRemove %></p>
                            <p><%= entry.studentRemoveRecord %></p>
                    </a>
                </p>
                <!-- form action code for delete -->
            </span>
        </div>
        <% } %>
        <!-- end of for of loop -->
    </section> 
    <section class="content-container-2 naples-yellow">
        <div class="content-container-3 card cosmic-latte">
            <span class="link-styling">
                <p>
                    Footer Form Entry
                </p>
            </span>
        </div>
    </section>
    <section class="content-container-2 naples-yellow">
        <!-- Insert the beginning of for of loop -->
        <% for (entry of footerArray)  { %>
        <div class="content-container-3 card cosmic-latte">
            <span>
                <p>
                    Footer Form Entry
                    <!-- psuedocode for loop -->
                    <a href="/readlog/<%= entry._id %>">
                    <p><%= entry.firstAndLastNameFooter %></p>
                    <p><%= entry.emailFooter %></p>
                    <p><%= entry.phoneFooter %></p>
                    </a>
                </p>
                <!-- form action code for delete -->
            </span>
        </div>
        <% } %>
        <!-- end of for of loop -->
    </section>
 
</div>


<!-- Insert admin-footer.ejs -->
<%- include('../partials/admin-footer.ejs') -%> 