<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
<title>Admin- Student Log</title>
<%- include('../partials/admin-nav') -%> 
<!-- Insert admin-nav.ejs -->
<div class="content-container link-styling">
    <section class="content-container-2 naples-yellow">
        <h1>Admin- Student Log</h1>
    </section>
    <h2 class = "mini-container cosmic-latte">LOG ENTRY</h2>

    <!-- REFERENCE for loop partial -->
    <%- include('../partials/student-loop') -%>

    <!-- include admin buttons -->
    <%- include('../partials/admin-buttons') -%> 

</div>

<!-- Insert admin-footer.ejs -->
<%- include('../partials/admin-footer') -%> 