<!-- // DO NOT TOUCH -->

<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Update Form</title>
<%- include('../partials/admin-nav') -%> 
<!-- Insert admin-nav.ejs -->
<div class="content-container link-styling">
    <section class="content-container-section">
        <h1>Update Outreach Form</h1>
    </section>
    <section class="content-container-section gold-crayola">
        <h2 class = "mini-container">For Trained Admin Usage Only</h2>
        <form action="/logs/<%= foundOutreach._id %>?_method=PUT" method="POST">
            <!-- had type="text" so removing for testing -->
            <legend>
                    <p class="mini-expansion">The site admin is working on capturing data correctly for this to work, so please come back later. You can email the developer in the footer of the site, at the bottom of the page if you need more immediate assistance.</p>
            </legend>
            <br>
            <fieldset>
                <label for="firstName">First Name:</label>
                <input type="text" name="firstName" id="firstName" value="<%= foundOutreach.firstName %>" required />
            </fieldset>
            <fieldset>
                <label for="lastName">Last Name:</label>
                <input type="text" name="lastName" id="lastName" value="<%= foundOutreach.lastName %>" required />
            </fieldset>
            <fieldset>
                <label for="email">Email Address</label>
                <input type="email" name="email" id="email" value="<%= foundOutreach.email %>" required />
            </fieldset>
            <fieldset>
                <label for="phoneNumber">Phone Number</label>
                <input type="number" name="phoneNumber" id="phoneNumber" value="<%= foundOutreach.phoneNumber %>" required />
            </fieldset>
            <fieldset>
                <label for="reason">Reason:</label>
                <input type="text" name="reason" id="reason" value="<%= foundOutreach.reason %>" required />
            </fieldset>
            <section class= "center-button">
                <input type="submit" value="Submit Change" class="yellow-button link-styling" />
            </section>
        </form>
         <!-- include admin buttons -->
    <%- include('../partials/admin-buttons') -%> 
    </section>
</div>
<!-- Insert admin-footer.ejs -->
<%- include('../partials/admin-footer) -%> 

